*{
    margin: 0;
    padding: 0;
}
/*Designing the background*/
.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(images/bg2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
/*This is for logo (ZED)*/
.logo{
    color: orange;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
/*This is for the menuu*/
.menu{
    width: 400px;
    float: left;
    height: 70 px;
}

ul{
    float: left;
    display: flex; 
    justify-content: center;
    align-items: center;
}
/*aligning the list*/
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
/*Designing the menu*/
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
/*if you drag your cursor in menus, it will turn orange*/
ul li a:hover{
    color: orange;
}

/*For the search bar*/
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/*This is for the search button*/
.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.search:focus{
    outline: none;
}

/*This is for the content (Web Design... including lorem ipsum*/
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

/*Designing the Join Us button*/
.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease;
}

/* To remove the line in JOIN US*/
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

/*For Join Us button hover*/
.cn:hover{
    background-color: whitesmoke;
}

/*For the word Join Us*/
.content span{
    color: orange;
    font-size: 60px;
}

/* For the Login Column*/
.form{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

/* For the Login Here*/
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
}
/* For the email and Password*/
.form input{
    width: 240px;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

/*For the Email and Password to be visible the placeholder*/
::placeholder{
    color: white;
    font-family: Arial;
}

/* For the button Login*/
.btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

/*For Designing Login Button*/
.btnn:hover{
    background: white;
    color: orange
}

/*For the word LOGIN*/
.btnn a{
    color: black;
    text-decoration: none;
    font-weight: bold;   
}

/*for Don't have an account*/
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

/*For the Sign UP text*/
.form .link a{
    text-decoration: none;
    color: orange;
    padding: 5px;
}

/*To hover in Sign Up*/
.form .link a:hover{
    color: black;
}

/* For the log in with*/
.liw{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/*For Icons to make it white*/
.icons a{
    text-decoration: none;
    color: white;
}

/*For the position of Icons*/
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: .3s ease;
}

/*To hover the icons*/
.icons ion-icon:hover{
    color: orange;
}