/*This feature means that it will apply to all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
/*To edit the div Main where it is the register box*/
.Main{
    width: 700px;
    background: transparent;
    border-radius: 12px;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    padding: 15px;
    margin: 0 10px;
    max-height: 100vh;
}
/*To edit the heading "Login" */
.Main h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
/*To edit the div class input box*/
.Main .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*To edit the input field.*/
.input-box .input-field{
    position: relative;
    width: 45%;
    height: 45px;
    margin: 15px 5px;
}
/*To input the details like "Full Name*/
.input-field .details{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    
}
/*To edit the text box and others*/
.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 13px;
    color: white;
    border-radius: 6px;
    padding: 12px;

}
/*To edit the text inside the textbox*/
.input-box .input-field input::placeholder{
    color: white;
   
}

/*To edit the margin of gender*/
.Main .gender-details{
    margin: 15px 0;
}
/*To edit the size of the gender title*/
.Main .gender-details .gender-title{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
/*To edit the gender category*/
.gender-details .category{
    display: flex;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    justify-content: space-around;
}
/*to adjust the label*/
.gender-details .category label{
    display: flex;
    align-items: center;
}
/*customize radio button appearance*/
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #2c526f;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
/*Radio button state style*/
/*dot-1.. is the id*/
/*Checked is a pseudo-class that indicates the the radio button is currently selected by the user*/
/*"~" is sibling connector. the styles will apply any sibling element of the checked radio buttons*/
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #2c526f;
    background: white;
}

/*To hide the radio buttons*/ 
input[type="radio"]{
    display: none;
}


/*To edit the label "I hereby..*/
.Main label{
    display: inline-block;
    font-size: 13px;
    margin: -10px 0 10px;
    padding: 5px;
}
/*To edit the checkbox*/
.Main label input{
    accent-color: white;
    margin-right: 5px;
}
/*To edit the button*/
.Main .btn{
    background: #2c526f;
    width: 100%;
    height: 40px;
    border: none;
    outline:none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

/*To edit the button when you put your cursor*/
.Main .btn:hover{
    color: aqua;
}
/*To edit the "Already have an account?"*/
.Main .login-register{
    font-size: 13px;
    text-align: center;
    margin: 5px 0 10px;
}
/*To edit the "Register"*/
.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/*To edit the register when you put your cursor*/
.login-register a:hover{
    text-decoration: underline;
    color: aqua;
}
/* For the register with*/
.riw{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 400;
}
/*For Icons to make it white*/
.icons a{
    text-decoration: none;
    color: white;
}
/* For the icon container */
.icons {
    display: flex;             
    justify-content: center;   /*to center the icon horizontally*/      
    gap: 10px;                
    margin-top: 15px;           
}

/*For the position and style of Icons*/
.Main .icons ion-icon{
    color: white;
    font-size: 25px;
    transition: .3s ease;
}
/*To hover the icons*/
.icons ion-icon:hover{
    color: aqua;
}

/*To Transform the logo of date into white*/
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/*To make the address full width*/
.input-box .input-field.address-field{
    width: 100%;
}

