/*This feature means that it will apply to all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg2.jpg);
    background-size: cover;
    background-position: center;
}
/*To edit the div Main where it is the register box*/
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    max-width: auto;
    background: transparent;
    border-radius: 12px;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    padding: 15px;
    margin: 0px 10px ;
    max-height: auto;
}
/*To edit the heading "Player Registration" */
.Main h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

/*To edit the div class input box*/
.Main .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*To edit the input field.*/
.input-box .input-field{
    position: relative;
    width: 45%;
    height: 45px;
    margin: 15px 5px;
}
/*To input the details like "Full Name*/
.input-field .details{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    
}
/*To edit the text box and others*/
.input-box .input-field input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 13px;
    color: white;
    border-radius: 6px;
    padding: 12px;

}
/*To edit the text inside the textbox*/
.input-box .input-field input::placeholder{
    color: white;
   
}

/*To edit the margin of gender section*/
.Main .gender-details{
    margin: 15px 0;
}

/*To edit the "SEX"*/
.gender-details .details{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 3px;

    font-size: 14px;
    font-weight: 500;
}
/*To adjust radio button*/
.gender-details input{
    margin-left: 8px;
}


/*To edit the label "I hereby..*/
.Main label{
    display: inline-block;
    font-size: 13px;
    margin: 10px 0;
    padding: 5px;
}
/*To edit the checkbox*/
.Main label input{
    accent-color: white;
    margin-right: 5px;
}
/*To edit the button*/
.Main .btn{
    background: orangered;
    width: 100%;
    height: 40px;
    border: none;
    outline:none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

/*To edit the button when you put your cursor*/
.Main .btn:hover{
    color: orangered;
    background-color: white;
}
/*To edit the "Already have an account?"*/
.Main .login-register{
    font-size: 13px;
    text-align: center;
    margin: 5px 0 10px;
}
/*To edit the "Register"*/
.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/*To edit the register when you put your cursor*/
.login-register a:hover{
    text-decoration: underline;
    color: orangered;
}
/* For the register with*/
.riw{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 400;
}
/*For Icons to make it white*/
.icons a{
    text-decoration: none;
    color: white;
}
/* For the icon container */
.icons {
    display: flex;             
    justify-content: center;   /*to center the icon horizontally*/      
    gap: 10px;                
    margin-top: 15px;           
}

/*For the position and style of Icons*/
.Main .icons ion-icon{
    color: white;
    font-size: 25px;
    transition: .3s ease;
}
/*To hover the icons*/
.icons ion-icon:hover{
    color: orangered;
}

/*To Transform the logo of date into white*/
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/*To make the address full width*/
.input-box .input-field.address-field{
    width: 100%;
}


